<div class="header">
	<img class="logo" src="img/google.png" />
	<form>
		<input type="text" />
		<button class="primary">Search</button>
	</form>
</div>
<div class="small">
	<small>{{resultsKey.length}} results</small>
</div>

<!-- Results area -->

{{> result}}
