<div class="header">
	<img class="logo" src="img/google.png" />
	<form>
		<input type="text" />
		<button class="primary">Search</button>
	</form>
</div>
<div class="small">
	<small>37 Results</small>
</div>

<!-- Results area -->

<section>
{{#each resultsKey as |data|}}
	<span>{{data.url}}</span>
	<h2><a href="#">{{data.title}}</a></h2>
	<p>{{data.description}}</p>
	<ul>
		{{#each data.links as |link|}}
		<li>
			<a href="#">{{link.title}}</a>
		</li>
		{{/each}}
	</ul>
	{{/each}}
</section>
