<div class="wrap">
	<img class="logo" src="img/google.png" alt="" />
	<form action="/results" method="POST">
		<input type="text" name="search" />
		<div>
			<button class="primary">Search</button>
		</div>
	</form>
</div>
